
/*BODY STYLES*/
html {
    font-family:Koulen;
    font-size:62.5%;
}

body{
    background-color: rgb(93, 191, 93);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Koulen;
}

h1 {
    font-size:100px;
    font-weight: 900;
    text-align: center;
    color:rgb(13, 81, 3);
    text-shadow: 5px 5px 6px rgb(255, 255, 255);
}

h2 {
    font-size:20px;
    text-align: center;
    color:black;
}

h3{
    text-align: center;
    color:purple;
    font-weight: 100;
}

summary {
    color:rgb(1, 73, 16);
    text-align: center;
    font-weight: 800;
    font-size:30px;
}

p {
    color:black;
    background-color: white;


}

/*HOME SECTION STYLES*/
#home {
    background: url(../images/back.jpg) no-repeat 50% 50%;


}

/*GALLERY SECTION ANIMATION*/

p{
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;

}

.photo {
    position:relative;
    line-height: 0;
    margin-bottom:2em;
    overflow:hidden;
    border-radius:8px;
    padding:1px;
    border:1px solid #021a40;
    background-color: #ff0;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.7);
}

.photo-container {
    text-align:center;
    margin:15px auto;
    width:300px;
    height:169px;
}

.photo-container {
    max-width:100%;
    width:300px;
    height:169px;
}

.photo-overlay {
    color:#fff;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding-left:20px;
    padding-right:20px;
    justify-content:center;/*For centering text inside .photos*/
    align-items:center;
    background:rgba(0,0,0,0.5);
}

.form-contactform {
    color:#C9BDAA;
    margin-top:5%;
    line-height:30px;
    padding-bottom:20px;
}

/*contact styles*/
.flex-container{
    display: -webkit-flex;
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    border-radius:8px;
    margin:0px auto;
    background-color:rgba(224, 165, 112, 0.304);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

#contact {
    background-color:#f5f3f3;
}

.reservation {
    width:60%;
    padding:10px;
    border-radius:8px;
    margin:0px auto;
    background-color:rgb(246, 220, 174);
    box-shadow:-1px -1px 1px 0 rgba(0,0,0,1) 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.reservation h2{
    width:70%;
    text-align:center;
    margin:0 auto;
    color:#13161B;
    font-weight:500;
    font-size:1.3em;
    letter-spacing:0pt;
    word-spacing:0pt;
}

.reservation h2 span{
    width:70%;
    text-align:center;
    margin:0 auto;
    color:#13161B;
    font-weight:900;
    font-size: 1.5em;
    font-variant:small-caps;
    letter-spacing:.4pt;
    word-spacing:.3pt;
}

.reservation p{
    color:#13161B;
    width:50%;
    margin:0 auto;
}

.reservation form {
    font-size:15px;
    outline:none;
    font-weight:600;
    color:#8D8E8F;
    padding: 12px 12px;
    width:70%;
    border: 1px solid #808080;
    margin:2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family:'Raleway', sans-serif;
}

.reservation input[type="text"] {
    font-size:15px;
    outline:none;
    font-weight:600;
    color:#8D8E8F;
    padding:2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0D;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left:1px solid #090B0D;
    margin:10px 1em;
    border-radius: 7px;
    background:#13161B;
    box-shadow:inset 0px 3px 0px 0px rgba(5,5,5.0.15);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"]:hover{
    box-shadow:0 0 18px rgba(100, 65, 0, .8);
}

.form-spacer{
    padding:30px 39px;
}

.submit input[type="submit"]{ /*SUBMIT BUTTON*/ 
    color:rgb(255, 115, 0);
    cursor:pointer;
    border:none;
    font-weight:900;
    outline:none;
    text-align: center;
    font-family:Koulen;
    margin:0px 3%;
    padding:7px 0px;
    width:25%;
    font-size:20px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color:#000000;
}

.submit input[type="submit"]:hover {
    color:#000;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}
/*FOOTER STYLES*/
#footer{
    background-color: rgba(228, 168, 121, 0.367);
    color:#000;
    text-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: right;
}


/*GALLERY SECTION ANIMATION*/
.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow:hidden;
    border-radius:8px;
    padding:1px;
    border: 1px solid #021a40;
    background-color: #7c4ea958;
    box-shadow:2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

.photo-container {
    text-align: center;
    margin:15px auto;
    width:300px;
    height:169px;
}

.photo-container img {
    max-width:100%;
    width:300px;
    height:169px;
}

.photo-overlay {
    color:#fff;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding-left:20px;
    padding-right:20px;
    justify-content:center;/*For centering text inside .photo-overlay*/
    align-items:center;
    background: rgba(0, 0, 0, .5);
}

.white-head{
    color:#C9BDAA;
    margin-top:5%;
}
/*PHOTO OVERLAY TRANSITIONS*/

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius:10px;
    cursor:pointer;
}

.photo-overlay:hover {
    opacity:1;
}

.photo img {
    transition: transform .2s;
    transform-origin:50% 50%;
}

.photo:hover img {
    transform:scale(1.1);
}